@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

@keyframes animation-logo {
    0% {

    }

    100% {
        transform: scale(1.05)
    }
}

@keyframes animation-cards {
    0% {

    }

    100% {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.logo img {
    width: 200px;
}

.logo:hover {
    animation-name: animation-logo;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.btn-custom {
    background-color: #7ED957;
    color: white;
    border: none;
}

.nav-link:hover {
    color: #7ED957;
}

.bg-home {
    background-image: url('./assets/img/bg-home.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.modal-tamanho {
    width: 300px;
    left: 50%;
    transform: translate(-50%);
}

.modal-fechar {
    display: block;
    margin-top: 2%;
    margin-left: 90%;
}

.logo-form {
    width: 200px;
}

.login input {
    display: block;
    width: 250px;
    margin: 0 auto;
}

.botao button {
    display: block;
    width: 250px;
    margin: 0 auto;

    background-color: #7ED957;
    color: white;
    border: none;
  }


.esqueci a {
    margin: 22%;
    font-size: 13px;
    text-decoration: none;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: white;
    padding: 3rem 1.5rem;
    min-height: 100vh;
}

.courses {
    padding: 12px;
}

.title {
    padding: 2rem 0;
}

.card-img {
    padding: 1rem;
    margin-top: 1rem;
}

.card-img img{
    margin: 0 auto;
    width: 50%;
}

.card-img:hover {
    animation-name: animation-cards;
    animation-fill-mode: forwards;
}

.footer-section {
    background-color: black;
    color: white;
}

.alunos {
    padding: 2rem 1rem;
}

.alunos a{
    color: #7ED957;
}

.alunos a:hover {
    color: #198754
}

.prof-ivin {
    font-size: 0.8rem;
    padding: 2rem;
}