@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.logo img {
    width: 200px;
}

.bg-home {
    background-image: url('./assets/img/bg-home.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.modal-tamanho {
    width: 300px;
}

.modal-fechar {
    display: block;
    margin-top: 2%;
    margin-left: 90%;
}

.logo-form {
    width: 200px;
}

.login input {
    display: block;
    width: 250px;
    margin: 0 auto;
}

.botao button {
    display: block;
    width: 250px;
    margin: 0 auto;

    background-color: #7ED957;
    color: white;
    border: none;
  }


.esqueci a {
    margin: 22%;
    font-size: 13px;
    text-decoration: none;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: white;
    padding: 3rem 1.5rem;
    min-height: 100vh;
}

.btn-custom {
    background-color: #7ED957;
    color: white;
    border: none;
}

.courses {
    padding: 12px;
}

.title {
    padding: 2rem 0;
}

.card-img {
    padding: 1rem;
    margin-top: 1rem;
}

.card-img img{
    margin: 0 auto;
    width: 50%;
}

.footer-section {
    background-color: black;
    color: white;
}

.alunos {
    padding: 2rem 1rem;
}

.alunos a{
    color: #7ED957;
}

.prof-ivin {
    font-size: 0.8rem;
    padding: 2rem;
}