@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #202020;
}

.navbar-brand {
  font-family: 'Bebas Neue', sans-serif;
}

.nav-item a {
  color:#f3f3f3;
}

.light-color a {
  color: #0d6fed;
}

#a {
  color: #f3f3f3;
}

.nav-item a:hover {
  background-color: #0d6fed;
  color:#f3f3f3
}

body {
  background-color: #059b9a;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/img/teclado1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h1 {
  color: #f3f3f3;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 8vw;
  padding-top: 12vw;
}

.banner p {
  font-size: 2vw;
  color: white;
}

.banner button {
  position: absolute;
  background-color: #202020;
  color: #f3f3f3;
  top: 27vw;
  font-family: 'Nanum Gothic', sans-serif;
  left: 42%;
  transform: translate(0 -50%);
  width: 15vw;
  height: 8vh;
  border-radius: 0.5vw;
  border: none;
}

.banner button:hover {
  background-color: #0d6fed;
}

.h1 h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5vw;
  color: #f3f3f3;
  margin-bottom: 5vh;
}

.card {
  width: 350px;
}

.cursos {
  gap: 2vw;
}

.top {
  height: 245.88px;
}

.card-img-top{
  filter: brightness(10%);
}

.logo {
  height: 20vh;
  top: 1vh;
  z-index: 2;
}

.card-title {
  font-family: 'Bebas Neue', sans-serif;
  color: #f3f3f3;
  position: absolute;
  font-size: 7vh;
  left: 35%;
  top: 80%;
  z-index: 2;
}