@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

header {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #202020;
}

.navbar-brand {
  font-family: 'Bebas Neue', sans-serif;
}

.nav-item a {
  color:#f3f3f3;
}

.light-color a {
  color: #0d6fed;
}

#a {
  color: #f3f3f3;
}

.nav-item a:hover {
  background-color: #0d6fed;
  color:#f3f3f3
}

body {
  background-image: linear-gradient(90deg, #0d6fed, #8d3c8d, #0d6fed);
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/Home/img/teclado1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h1 {
  color: #f3f3f3;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 8vw;
  padding-top: 12vw;
}

.banner p {
  font-size: 2vw;
  color: white;
}

.banner button {
  position: absolute;
  background-color: #202020;
  color: #f3f3f3;
  top: 27vw;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.5vw;
  left: 42%;
  transform: translate(0 -50%);
  width: 15vw;
  height: 8vh;
  border-radius: 0.5vw;
  border: none;
}

.banner button:hover {
  background-color: #0d6fed;
}

.h1 h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5vw;
  color: #f3f3f3;
  margin-bottom: 5vh;
}

.card-body p {
  font-size: 40%;
}

.card {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.cursos {
  gap: 2vw;
}

.card-img-top{
  filter: brightness(10%);
}

.top {
  background-image: url(/Home/img/Produtos/Untitled\ \(1\).svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 245.88px;
}

.logo {
  height: 80%;
  z-index: 2;
  display: block;
  padding: 3vh;
  margin: 0 auto;
}

.card-title {
  font-family: 'Bebas Neue', sans-serif;
  color: #f3f3f3;
  display: block;
  text-align: center;
  font-size: 110%;
  z-index: 2;
}

.botao {
  background-color: #202020;
  display: block;
  width: 150px;
  margin: 0 auto;
  border: none;
}

.botao:hover {
  background-color: #0d6fed;
}